Django==4.2.3
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
google-trans-new==1.1.9
googletrans==3.0.0
keras==2.12.0
scikit-learn==1.3.0
sqlparse==0.4.4
ssh-import-id==5.11
style==1.1.0
tokenizers==0.13.3
transformers==4.30.2
